@import './features/coin/Coin.scss';
@import './features/counter/Counter.scss';
@import './features/Theme/Theme.scss';

.App{
  background-color: #5c6c8b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


