
.Coin {
    display: flex;
    background: linear-gradient(to bottom, #cc9f3f 22%,#38342c 24%, #cfc09f 26%, #d6a53a 27%,#e4bc44 40%,#ce4f1d 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(212, 20, 20);
    font-family: 'Playfair Display', serif;
    position: relative;
	font-size: 18vw;
	margin: 0;
	font-weight: 400;
    flex-direction: column;
    align-items: center;
    &-value {
        padding: 2rem;
        font-size: 40px;
      
    }
}   